/* 登录后用户个人信息 */
html,body { height: 100%; padding: 0; margin: 0; }
li{list-style: none;}
.second_list .index_title {
    font-size: 15px;
}
ul#info,
ul#author {
    margin: -10px 0 10px 25px;
    height: 150px;
}
.second_list li {
    height: 50px !important;
}
.left_frame{
    margin: 0;
    position: absolute;
    padding: 0;
    display: block;
    width: 200px;
    background-color: #333744;;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
}
.fram2>.nav-pills{
    background-color: #333744;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}
.nav-pills li[role="presentation"]{
    height: 60px;
}
.ma_top{
    height:20vh;
    background-color:#1c252e;
    margin: 0px;
}
#questions_check span.index_title,
#authority span.index_title {
    padding-left: 5px;
}
.logoImg{
    /* color: #B5C3D4; */
    padding: 5px 20px;
    font-size: 17px;
    height: 70px;
}
.logoImg > img{
    margin-right: 10px;
}
.glyphicon{
    color: rgb(169, 190, 214);
    margin-right: 10px;
    margin-left: 20px;
}
.fram1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.fram2{
    margin-left: 0px;
    margin-bottom: 0px;
}
.right_title{
    background-color: #F3F3F4;
    color: #676a6c;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    width: 100%;
}
.sp{
    color:rgb(165, 161, 161);
    margin-right: 10px;
    margin-left: 20px;
}
.right_info{
    vertical-align:middle;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
}
.right_info_heading{
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    color: rgb(131, 130, 130);
}
/*项目管理模态框 */
#itemModal .modal-content {
    height: 450px;
    width: 100%;
    overflow-y: auto;
}
#itemModal .modal-dialog {
    padding-top: 50px;
}
#itemModal .modal-content .modal-body{
    display: flex;
    justify-content: center;
}
#itemModal table tr{
    background-color: gainsboro;
}
#itemModal table td{
    border: 1px solid rgb(255, 255, 255);
}
#itemModal table th{
    background-color: rgb(220, 220, 220);
    color: black;
}
#itemModal table tr:hover{
    color:#fff;
    background-color:rgb(51, 122, 183)
}
#modalBtn{
    margin: 0 140px;
}
input[type="radio"]{
    width: auto;
    margin-left: 10px;
}
.b-radio:before{
    content: '';
    font-size: 0;
    width: 10px;
    height: 10px;
    background: rgb(143, 188, 238);
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 2px;
    display: none;
}
.a-radio:checked~.b-radio:before{
    display: block;
}
/* 项目表格 */
#items,#questions,#maintenance,#faq,#log,#role{
    display: flex;
    justify-content: center;
}
.tab_search label{
    text-align: left;
    white-space: nowrap;
    font-weight: 400;
    float: right;
    margin-right: -2px;
}
.tab_search{
    float: right;
    margin: 0 6px 10px 0;
}
.tab_search .glyphicon{
    margin: 0px;
}
table input{
    margin-left: .5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 5px 10px;
    font-size: inherit;
    line-height: 1.5;
    border-radius: 3px;
}
.searchSel{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    padding: 2px;
    font-size: 14px;
    border-radius: 3px;
}
.searchIn{
    height: 30px;
    padding: 2px 5px;
    border: 1px solid rgb(221, 221, 221);
}
.searchBtn{
    width: 40px;
    height: 30px;
    margin: 0 0 1px -4px;
    border: none;
    border-radius: 1px;
    /* background-color: #323652; */
    /* border: 1px solid rgb(221, 221, 221); */
}
table{
    width: 100%;
    /* border: 1px solid gray;
    border-radius: 1px; */
    table-layout: fixed;
}
table tr,td,th{
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid rgb(221, 221, 221);
    padding-left: 5px;
    cursor: default;
}
table tbody td:hover{
    overflow: visible;
    white-space: normal;
    cursor: hand;
}
table th{
    font-size: 16px;
    /* background-color: #364a5f; */
    /* border: 1px solid rgb(221, 221, 221); */
    color: #364a5f;
    /* border: 1px solid white; */
}
table tbody tr:nth-child(even){
    background-color:#FFFFFF;
}

table tbody tr:nth-child(odd){
    background-color:#f9f9f9;
}
table tbody tr:hover td{background-color:none;}
table tbody tr:hover{color:#fff;background-color:rgb(51, 122, 183);} 
table tbody tr:hover a{color:#fff;}
table tbody tr:hover .searchSel{background-color: #F8F8FF;color: black;}
/* 任务指派按钮 */
.assign_btn{
    padding-left: 100px;
}
.assign_btn button:last-child {
    margin-left: 100px;
}
/* roles */
.roles{
    width: 200px;
    height: 29px;
    border: none;
    background-color: transparent;
}
.role_btn{
    padding-left: 10px;
}
.pagination{
    display:flex;
    justify-content: center;
}
.pa_all{
    margin-top: 20px;
}
/* 通知栏 */
.sidebar{
    background-color:#fff;
    margin:0px 0px 24px;
    padding:10px 20px;
    height: 50%;
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
}
.sidebar li {
    width: auto;
    margin-bottom: 5px;
}
label.error{
    color:#d4654e;
    font-size:14px;
    margin-left:5px;
    padding: 5px 0 0 16px;
    background:url("../img/error.png") left no-repeat;
}
#notice th,
#notice tr,
#notice td {
    font-weight:normal;
    border: none;
}
.sidebar-widget {
    padding: 2.5rem;
    background: #f5f5f5!important;
}
.sidebar-widget-heading{
    color: #212529;
    /* font-weight: bolder; */
    font-size: 24px;
}
#notice table {
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: block;
}
#notice table tbody {
    margin-top: 10px;
    height: 125px;
    overflow: hidden;
    display: block;
}
#notice table tr,#notice table tr td,#notice table tr th{
    background-color: white;
    color: black;
    text-align: center;
}
#notice table tr td{
    padding: 0 15px;
}
#notice table tr:hover{
    color: black;
}
.bott{
    margin:0px;
}
.navbar-static-top{
    margin: 0px;
}
.mm{
    width: 100%;
}
.breadcrumb {
    font-size: 15px;
    margin: 0;
    background-color: transparent;
}

.breadcrumb>li {
    font-weight: 16;
}

.panel-heading {
    padding: 5px;
}
.panel{
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
    height: 500px;
    padding: 0;
}
.message{
    margin-top: 20px;
    height: 475px;
}
.panel> .panel-heading{
    background-color: #323652;
    color: #fff;
    margin-bottom: 10px;
}
.panel-title{
    font-weight: bolder;
}
.panel-body label{
    cursor: pointer;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    vertical-align: top;
}
input{
    font-size: inherit;
    width: 200px;
    height: 30px;
}
.btn-primary{
    margin-left: 20px;
}
.btn-task-ing{
    text-align: center;
    margin-left: 15px;
}
.select_form{
    width: 300px;
    height: 40px;
}
.select_lable{
    margin-right: 20px;

}
.select_lable_clear{
    height: 80px;
    width: 300px;
}
.task_check_tb_th{
    height:50px;
    overflow: hidden;
}
.task_check_tb_td{
    height:30px;
}
.navbar {
    display: flex;
    /*从右边开始布局*/
    flex-direction: row;
    flex: 2;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;
    padding: 0;
    border-radius: 0 !important;
    background-color: #373d41;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
}
.right_info{
    width: 140px;
}
.right_info_right{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

}
.right_info_heading{
    margin-left: 100px;
    color: #FFFFFF;
    font: 20px "Microsoft YaHei UI";
}
.aside{
    position: absolute;
    padding: 0;
    display: block;
    margin-left: 200px;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
    width: 100%;
}
/*bootstrap组件样式*/
/*左侧菜单宽度为200Px*/
.nav-pills{
    background-color: #333744;
    padding:  0 ;
    width: 200px;
}
/*让nav整体与导航栏有间距*/
.nav_aside{
    margin-top: 80px;
}
/*当鼠标停顿到选项时的变化*/
.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent!important;
}
/*当获取焦点时字体变蓝*/
.nav > li > a:focus{
    background-color: transparent!important;
    color: #409EFF!important;
}
/*菜单信息字体样式*/
.nav-pills > li > a {
    border-radius: 0!important;
    color: #FFFFFF !important;
    background-color: transparent!important;
    font: 16px "Microsoft YaHei UI" !important;
}
