.index_title{
    font-size: 16px;
    font-weight: bolder;
    color: #B5C3D4;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
.left_frame{
    z-index: 9999;
    margin: 0px;
}
.nav-pills{
    background-color: #232f3a;
    color: #fff;
}
.ma_top{
    height:20vh;
    background-color:#1c252e;
    margin: 0px;

}
.mage1{
    background-color:#232f3a;
    height: 30px;
}
.mage{
    background-color:#232f3a;
    height:100vh;
}
.glyphicon{
    color: rgb(169, 190, 214);
    margin-right: 10px;
    margin-left: 20px;
}
.fram1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.fram2{
    margin-left: 0px;
    margin-bottom: 0px;
}
.right_title{
    background-color: #F3F3F4;
    color: #676a6c;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    width: 100%;
}
.sp{
    color:rgb(165, 161, 161);
    margin-right: 10px;
    margin-left: 20px;
}
.right_info{
    vertical-align:middle;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
}
.right_info_heading{
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    color: rgb(131, 130, 130);
}
.info{
    color: rgb(131, 130, 130);
}
.pa_all{
    margin-top: 20px;
}
.sidebar{
    background-color:#fff;
    margin: 0px 0px 24px;
    padding: 20px;
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
}
.sidebar-widget {
    padding: 2.5rem;
    background: #f5f5f5!important;
}
.sidebar-widget-heading{
    color: #212529;
    font-weight: bolder;
    font-size: 24px;
}
.bott{
    margin:0px;
}
.navbar-static-top{
    margin: 0px;
}
.mm{
    background-color:#f3f6fa ;
}
.panel{
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
}
.panel> .panel-heading{
    background-color: #323652;
    color: #fff;

}
.panel-title{
    font-weight: bolder;
}
label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}
input{
    font-size: inherit;
}
.bt_list{
    margin-top: 20px;
    margin-left: 100px;
}
.btn-primary{
    margin-left: 20px;
}
.select_form{
    width: 300px;
    height: 40px;
}
.select_lable{
    margin-right: 20px;

}
.select_lable_clear{
    height: 80px;
    width: 300px;
}
