.body{
    padding: 0;
    height: 100%;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
.left_frame{
    z-index: 9999;
    margin: 0px;
}
.ma_top{
    height:20vh;
    background-color:#1c252e;
    margin: 0px;

}
.mage1{
    background-color:#232f3a;
    height: 30px;
}
.mage{
    background-color:#232f3a;
    height:100vh;
}
.glyphicon{
    color: rgb(169, 190, 214);
    margin-right: 10px;
    margin-left: 20px;
}
.fram1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.fram2{
    margin-left: 0px;
    margin-bottom: 0px;
}
.right_title{
    background-color: #F3F3F4;
    color: #676a6c;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    width: 100%;
}
.sp{
    color:rgb(165, 161, 161);
    margin-right: 10px;
    margin-left: 20px;
}
/*顶部导航栏部分样式*/
.navbar {
    display: flex;
    /*从右边开始布局*/
    flex-direction: row;
    flex: 2;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;
    padding: 0;
    border-radius: 0 !important;
    background-color: #373d41;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 0px !important;
}
.right_info{
    width: 140px;
}
.right_info_right{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

}
.right_info_heading{
    margin-left: 20px;
    color: #FFFFFF;
    font: 20px "Microsoft YaHei UI";
}
.info{
    color: #FFFFFF !important;
    font: 16px Arial !important;
}
/*左侧菜单栏css样式*/
/*最外层,使用绝对布局，让菜单栏撑满整个浏览器高度*/
.aside{
    position: absolute;
    padding: 0;
    display: block;
    width: 200px;
    background-color: #333744;
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
}
/*bootstrap组件样式*/
/*左侧菜单宽度为200Px*/
.nav-pills{
    background-color: #333744;
    padding:  0 ;
    width: 200px;
}
/*让nav整体与导航栏有间距*/
.nav_aside{
    margin-top: 80px;
}
/*当鼠标停顿到选项时的变化*/
.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent!important;
}
/*当获取焦点时字体变蓝*/
.nav > li > a:focus{
    background-color: transparent!important;
    color: #409EFF!important;
}
/*菜单信息字体样式*/
.nav-pills > li > a {
    border-radius: 0!important;
    color: #FFFFFF;
    font: 16px "Microsoft YaHei UI";
}
/*右侧面板样式*/
/*整体样式*/
.data_panel{
    position: absolute;
    padding: 0;
    display: block;
    margin-left: 200px;
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 100%;
    height: auto;
}
/*默认页面*/
.alert-info{
    font: 20px "Microsoft YaHei UI";
}
/*面包屑导航*/
.breadcrumb{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    background-color: transparent!important;
    color:#606266;
    font: 16px "Microsoft YaHei UI";
}
/*个人信息面板样式*/
.pa_all{
    margin-left: 60px;
    width: 1200px;
}
.list-group-item{
    display: flex;
    /*从右边开始布局*/
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border: none!important;
}
input{
    width: 60%;
    border:1px solid #ddd;
    height: 40px;
}

.info{
    color: rgb(131, 130, 130);
}

.sidebar{
    background-color:#fff;
    margin: 0px 0px 24px;
    padding: 20px;
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
}
.sidebar-widget {
    padding: 2.5rem;
    background: #f5f5f5!important;
}
.sidebar-widget-heading{
    color: #212529;
    font-weight: bolder;
    font-size: 24px;
}
.bott{
    margin:0px;
}
.mm{
    background-color:#f3f6fa ;
}
.panel{
    box-shadow: 0px 1px 12px rgb(206, 203, 203);
}
.panel-heading{
    background-color:white !important;
}
/* .panel> .panel-heading{
    background-color: #323652;
    color: #fff;
} */
.panel-title{
    font-weight: bolder;
}
label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}
.lable_textarea{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
    font-weight: bolder;
}
input{
    font-size: inherit;
}
.bt_list{
    margin-top: 20px;
    margin-left: 100px;
}

.select_form{
    width: 300px;
    height: 40px;
}
.select_lable{
    margin-right: 20px;

}
.select_lable_clear{
    height: 80px;
    width: 300px;
}
.select_form{
    width: 500px;
}
.item_id_cl{
    width: 500px!important;
    border-color: #000000;
    margin-right: 40px!important;
}
#item_id{
    width: 500px;
    border-color: black;
}
.id_que {
    margin-left: 12px!important;
}

 .w-e-text-container {
     position: relative;
     height: 160px!important;
 }
 #question_clear{
     height: 200px!important;
 }
 .pic_form{

 }
 .pic_file{
    border: none!important;
 }
#ing_table tr:nth-child(even){
    background:#f4f8fb;
}
#fin_table tr:nth-child(even){
    background:#f4f8fb;
}
#arl_table tr:nth-child(even){
    background:#f4f8fb;
}
#faq_table tr:nth-child(even){
    background:#f4f8fb;
}
td{
    height: 20px!important;
}
.table>tbody>tr>td{
    height: 20px!important;
}
/*表格第一行*/
thead{
    background-color: #323652;
    color: #fff;
}
.th-inner{
    font-weight: normal!important;
}

