<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.ItemMapper">

    <select id="selectAllItems" parameterType="map" resultType="com.zgl.aftersales.pojo.Items">
         select * from items limit #{currIndex},#{pageSize}
    </select>
    <select id="fuzzyQuery" parameterType="map" resultType="com.zgl.aftersales.pojo.Items">
        select * from items where Item_id like CONCAT(CONCAT('%', #{text}), '%') or Item_name like  CONCAT(CONCAT('%', #{text}), '%') or User_id like  CONCAT(CONCAT('%', #{text}), '%') limit #{currIndex},#{pageSize};
    </select>


</mapper>