<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.LogMapper">
    <select id="showLog" resultType="com.zgl.aftersales.pojo.Log">
         select * from log
    </select>

    <insert id="addLog" parameterType="com.zgl.aftersales.pojo.Log">
        insert into faq (Log_id,Table_name,Operation,User_id,User_name,Creat_time,Remark,Log_type) values(#{Faq_question},#{Faq_answer})
    </insert>
</mapper>