<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.MaintenanceMapper">

    <resultMap id="data" type="com.zgl.aftersales.pojo.Maintenance">
        <result property="Question_id" column="Question_id"></result>
        <result property="User_id" column="User_id"></result>
        <result property="Start_time" column="Start_time"></result>
    </resultMap>

    <resultMap id="count2" type="Integer">
        <result column="count"/>
    </resultMap>
<select id="selectAll"  parameterType="map" resultMap="data,count2">
         select SQL_CALC_FOUND_ROWS * from maintenance items limit #{currIndex},#{pageSize};
         select FOUND_ROWS() as count;
    </select>
<select id="fuzzyQuery" parameterType="map" resultMap="data,count2">
        select SQL_CALC_FOUND_ROWS * from maintenance
        <where>
            <if test="Question_id!=null">
                Question_id like CONCAT(CONCAT('%', #{Question_id}), '%')
            </if>
            <if test="User_id!=null">
                User_id  like  CONCAT(CONCAT('%', #{User_id}), '%')
            </if>
            <if test="Start_time!=null">
                Start_time   like  CONCAT(CONCAT('%', #{Start_time}), '%')
            </if>
        </where>
          limit #{currIndex},#{pageSize};
          select FOUND_ROWS() as count;

 </select>

<select id="insert"  parameterType="com.zgl.aftersales.pojo.Maintenance">
        insert  into maintenance (Question_id,User_id,Start_time) values (#{Question_id},#{User_id},#{Start_time})
</select>
    <insert id="itemLeaderEdite" parameterType="map">
        insert into itme_worker values(#{Item_id},#{User_id})
    </insert>

</mapper>