<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zgl.aftersales.dao.QuestionMapper">

    <cache/>

    <select id="findAll" resultType="com.zgl.aftersales.pojo.Users">
        SELECT * FROM users
    </select>

<!--jqw-->
    <insert id="addQuestion" parameterType="com.zgl.aftersales.pojo.Question" useGeneratedKeys="true"
            keyProperty="Question_id">
             INSERT INTO questions(item_id,Question_type,Question_status,Question_detail,User_id,Commit_time) VALUES(#{ item_id },#{ Question_type },#{ Question_status },#{ Question_detail },#{ User_id},#{ Commit_time })
    </insert>

    <select id="checkQuestionsubmited" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "unaccepted"
    </select>

    <select id="checkQuestionfinished" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "done"
    </select>

    <select id="checkQuestiondealing" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "accepted"
    </select>

    <insert id="addImage" parameterType="com.zgl.aftersales.pojo.Image" useGeneratedKeys="true"
            keyProperty="Image_id">
             INSERT INTO image(ImageBlob) VALUES(#{ ImageBlob })
    </insert>

    <!--批量插入-->
<!--    <sql id="ImageColumnsList">-->
<!--        <trim suffixOverrides=",">-->
<!--            <if test="item.ImageBlob != null">ImageBlob</if>-->
<!--        </trim>-->
<!--    </sql>-->
<!--    <sql id="ImageValuesList">-->
<!--        <trim suffixOverrides=",">-->
<!--            <if test="item.ImageBlob != null">#{item.ImageBlob}</if>-->
<!--        </trim>-->
<!--    </sql>-->


<!--    &lt;!&ndash;测试动态批量插入成功,注意application.yml数据库设置要加上&allowMultiQueries=true,否者提示SQLSyntaxErrorException&ndash;&gt;-->
<!--    <insert id="addImage" parameterType="List" keyColumn="Image_id" keyProperty="Image_id" useGeneratedKeys="true">-->

<!--        INSERT INTO `image`-->
<!--        (-->
<!--        ImageBlob-->
<!--        )-->
<!--        VALUES-->
<!--        <foreach collection="list" item="item" separator=",">-->
<!--            (-->
<!--            #{item.ImageBlob}-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="addImageQuestion" parameterType="map">
             INSERT INTO image_question(Image_id,Question_id) VALUES(#{ Image_id },#{ Question_id })
    </insert>

    <select id="checkImages" parameterType="int" resultType="com.zgl.aftersales.pojo.Image">
             SELECT * FROM image WHERE Image_id IN (Select image_id FROM image_question Where Question_id = #{ Question_id })
    </select>

    <select id="checkPostMan" parameterType="int" resultType="com.zgl.aftersales.pojo.Users">
             SELECT * FROM users WHERE User_id = #{ User_id }
    </select>

    <select id="checkItemname" resultType="com.zgl.aftersales.pojo.Items">
             SELECT * FROM items
    </select>

    <select id="checkItemId" parameterType="int" resultType="int">
             SELECT COUNT(*) FROM items WHERE Item_id = #{ Item_id }
    </select>

    <select id="checkFaqs" parameterType="String" resultType="com.zgl.aftersales.pojo.FAQs">
             SELECT * FROM faq WHERE Faq_question LIKE CONCAT('%', #{ faq_String },'%') OR Faq_answer LIKE CONCAT('%', #{ faq_String },'%')
    </select>

<!--    zgl-->
    <resultMap id="data" type="com.zgl.aftersales.pojo.Question">
        <result property="Question_id" column="Question_id"></result>
        <result property="item_id" column="item_id"></result>
        <result property="Question_type" column="Question_type"></result>
        <result property="Question_detail" column="Question_detail"></result>
        <result property="Question_status" column="Question_status"></result>
        <result property="User_id" column="User_id"></result>
        <result property="Commit_time" column="Commit_time"></result>
    </resultMap>

    <resultMap id="count1" type="Integer">
        <result column="count"/>
    </resultMap>

    <select id="showAllQuestions" parameterType="map" resultMap="data,count1">
        select SQL_CALC_FOUND_ROWS * from questions limit #{currIndex},#{pageSize};
        select FOUND_ROWS() as count;
    </select>
    <select id="fuzzyQuery" parameterType="map" resultMap="data,count1">
        select SQL_CALC_FOUND_ROWS * from questions
        <where>
            <if test="Question_id!=null">
                Question_id  like CONCAT(CONCAT('%', #{Question_id}), '%')
            </if>
            <if test="item_id!=null">
                item_id like CONCAT(CONCAT('%', #{item_id}), '%')
            </if>
            <if test="Question_type!=null">
                Question_type like CONCAT(CONCAT('%', #{Question_type}), '%')
            </if>
            <if test="Question_status!=bull">
                Question_status like CONCAT(CONCAT('%', #{Question_status}), '%')
            </if>
            <if test="Question_detail!=null">
                Question_detail like CONCAT(CONCAT('%', #{text}), '%')
            </if>
            <if test="User_id!=null">
                User_id like CONCAT(CONCAT('%', #{User_id}), '%')
            </if>
            <if test="Commit_time!=null">
                Commit_time like CONCAT(CONCAT('%', #{Commit_time}), '%')
            </if>
        </where>
         limit #{currIndex},#{pageSize};
         select FOUND_ROWS() as count;
    </select>

    <select id="selectAll_id" resultType="integer">
        select Question_id from questions
    </select>
    <select id="selectWorkerByQuesID" parameterType="String" resultType="String">
        select distinct User_name from users u,questions q,itme_worker i where u.User_id=i.User_id and q.Item_id=i.Item_id and q.Question_id=#{id} and u.Task_num &lt; 10
    </select>
    <update id="updateStatus" parameterType="String">
        update questions set Question_status='accepted' where Question_id=#{questionID}
    </update>

    <select id="showOvertimeAccepte" resultType="com.zgl.aftersales.pojo.Question">
        select * from questions q ,maintenance m where q.Question_id=m.Question_id and Question_status='overtime'
    </select>
    <select id="shoeOvertimeUnaccepte" resultType="com.zgl.aftersales.pojo.Question">
        select * from questions where Question_status='overtime' and Question_id not in (select q.Question_id  from questions q ,maintenance m where q.Question_id=m.Question_id and Question_status='overtime')
    </select>





    <update id="updateUser" parameterType="com.zgl.aftersales.pojo.Users">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update users
            <set>
                <if test="item.User_name != null">User_name=#{item.User_name},</if>
                <if test="item.Password != null">Password=#{item.Password},</if>
                <if test="item.Tel != null">Tel=#{item.Tel},</if>
                <if test="item.Email != null">Email=#{item.Email},</if>
            </set>
            where User_id = #{item.User_id}
        </foreach>
    </update>









</mapper>