<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.UserMapper">
    <insert id="addUser" parameterType="com.zgl.aftersales.pojo.Users">
       insert into users (User_name,Password,Tel,Email) values(#{User_name},#{Password},#{Tel},#{Email})
   </insert>
    <select id="selectByUsername" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
         select * from users where User_name=#{username}
    </select>
    <select id="selectByEmail" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
        select * from users where Email=#{mail}
    </select>
    <update id="updateByEmailToPwd" parameterType="map">
        update users set Password=#{pwd} where Email=#{mail}
    </update>
    <update id="updateTask_num" parameterType="String">
        update users u set u.Task_num=u.Task_num+1 where User_name=#{name}
    </update>

<!--    shiro-->
    <select id="showRolesByUserID" parameterType="int" resultType="String">
        select distinct r.Role_name from role r ,role_user t where  r.Role_id=t.Role_id and t.User_id=#{userID}
    </select>


    <resultMap id="data" type="map">
        <result property="User_id" column="User_id"></result>
        <result property="User_name" column="User_name"></result>
        <result property="Tel" column="Tel"></result>
        <result property="Email" column="Email"></result>
        <result property="Role_name" column="Role_name"></result>
    </resultMap>
    <resultMap id="count5" type="Integer">
        <result column="count"/>
    </resultMap>

    <select id="showUser" parameterType="map" resultMap="data,count5">
        select SQL_CALC_FOUND_ROWS u.User_id,u.User_name,t.Role_id from users u left join role_user t on  t.User_id=u.User_id order by u.User_id limit #{currIndex},#{pageSize};
        select FOUND_ROWS() as count;
    </select>

    <select id="searchUser" parameterType="map" resultMap="data,count5">
        select SQL_CALC_FOUND_ROWS u.User_id,u.User_name,t.Role_id from users u left join role_user t on  t.User_id=u.User_id
           <where>

               <if  test="User_id!=null">
                   u.User_id like CONCAT(CONCAT('%', #{User_id}), '%')
               </if>
               <if test="User_name!=null">
                   u.User_name like CONCAT(CONCAT('%', #{User_name}), '%')
               </if>
               <if test="Role_id!=null and Role_id!=5">
                    t.Role_id like CONCAT(CONCAT('%', #{Role_id}), '%')
               </if>
               <if test="Role_id==5">
                   t.Role_id is null
               </if>

           </where>
        order by u.User_id
        limit #{currIndex},#{pageSize};
        select FOUND_ROWS() as count;
    </select>

    <insert id="insertRoleID" parameterType="map">
        insert into role_user values( #{User_id}, #{Role_id})
    </insert>
    <delete id="deleteRolID" parameterType="map">
        delete from role_user where User_id=#{User_id} and Role_id=#{Role_id}
    </delete>
    <select id="isLeader" parameterType="int" resultType="int">
        select count(*) from itme_worker i where i.User_id=#{id}
    </select>
    <resultMap id="showWorker_data" type="map">
        <result property="User_id" column="User_id"></result>
        <result property="User_name" column="User_name"></result>
    </resultMap>
    <select id="showWorker" resultMap="showWorker_data">
        select u.User_id , u.User_name from users u,role_user r where u.User_id=r.User_id and r.Role_id=2
    </select>
    <select id="selectPreByRole" parameterType="String" resultType="String">
        select distinct m.perms from role r,role_permission p,permission m where r.Role_id=p.role_id and p.permission_id=m.permission_id and  r.Role_name=#{RoleName}
    </select>
</mapper>