<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.UserMapper">
    <insert id="addUser" parameterType="com.zgl.aftersales.pojo.Users">
       insert into users (User_name,Password,Tel,Email) values(#{User_name},#{Password},#{Tel},#{Email})
   </insert>
    <select id="selectByUsername" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
         select * from users where User_name=#{username}
    </select>
    <select id="selectByEmail" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
        select * from users where Email=#{mail}
    </select>
    <update id="updateByEmailToPwd" parameterType="map">
        update users set Password=#{pwd} where Email=#{mail}
    </update>
    <update id="updateTask_num" parameterType="String">
        update users u set u.Task_num=u.Task_num+1 where User_name=#{name}
    </update>

<!--    shiro-->
    <select id="showRolesByUserID" parameterType="int" resultType="String">
        select distinct r.Role_name from role r ,role_user t where  r.Role_id=t.Role_id and t.User_id=#{userID}
    </select>


    <resultMap id="data" type="map">
        <result property="User_id" column="User_id"></result>
        <result property="User_name" column="User_name"></result>
        <result property="Tel" column="Tel"></result>
        <result property="Email" column="Email"></result>
        <result property="Role_name" column="Role_name"></result>
    </resultMap>
    <resultMap id="count5" type="Integer">
        <result column="count"/>
    </resultMap>

    <select id="showUser" parameterType="map" resultMap="data,count5">
        select SQL_CALC_FOUND_ROWS u.User_id,u.User_name,u.Tel,u.Email,r.Role_name from users u,role r where u.Role_id=r.Role_id limit #{currIndex},#{pageSize};
        select FOUND_ROWS() as count;
    </select>

    <select id="searchUser" parameterType="map" resultMap="data,count5">
        select SQL_CALC_FOUND_ROWS u.User_id,u.User_name,u.Tel,u.Email,r.Role_name from users u,role r
           <where>
               u.Role_id=r.Role_id
               <if  test="User_id!=null">
                   and User_id like CONCAT(CONCAT('%', #{User_id}), '%')
               </if>
               <if test="User_name!=null">
                   and User_name like CONCAT(CONCAT('%', #{Question_id}), '%')
               </if>
               <if test="Role_name!=null">
                   and Role_name like CONCAT(CONCAT('%', #{Question_id}), '%')
               </if>
           </where>
        limit #{currIndex},#{pageSize};
        select FOUND_ROWS() as count;
    </select>
</mapper>