<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.WorkerMapper">
    <select id="worker_selectBy_Session_UserId" parameterType="int" resultType="com.zgl.aftersales.pojo.Users">
         select * from users where User_id=#{User_id};
    </select>

    <update id="worker_updateBy_Session_UserId" parameterType="map">
    update users set User_name = #{User_name},Tel = #{Tel},Email = #{Email}
    where User_id=#{User_id};
  </update>

    <update id="worker_update_ques_accept" parameterType="String">
        update questions set Question_status='accepted' where Question_id=#{questionID};
    </update>

    <update id="worker_update_addtaskNum" parameterType="int">
        update users u set u.Task_num=u.Task_num+1 where User_id=#{User_id};
    </update>

    <update id="worker_update_ques_done" parameterType="String">
        update questions set Question_status='done' where Question_id=#{questionID};
    </update>

    <update id="worker_update_reducetaskNum" parameterType="int">
        update users u set u.Task_num=u.Task_num-1 where User_id=#{User_id};
    </update>

    <select id="worker_show_unaccepted" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
        select * from questions where User_id = #{User_id} and Question_status = 'unaccepted';
    </select>

    <select id="worker_show_accepted" parameterType="int" resultType="map">
        select * from questions q, maintenance m where q.User_id=m.User_id and q.User_id = #{User_id} and q.Question_status = 'accepted' group by q.Question_id;
    </select>

    <select id="worker_show_done" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
        select * from questions where User_id = #{User_id} and Question_status = 'done';
    </select>

    <select id="show_items" parameterType="int" resultType="com.zgl.aftersales.pojo.Items">
        select * from items where User_id = #{User_id};
    </select>

    <select id="show_item_workers" parameterType="map" resultType="int">
        select q.User_id from items i,questions q where i.Item_id=q.Item_id and i.User_id=#{User_id} and i.Item_id=#{Item_id} group by q.User_id;
    </select>

</mapper>